---
import { calculateCardDimensions, normalizeUrl, extractMainDomain } from './Card.tsx';

// 定义 props
export interface Props {
  content: string;
  shape: 'tofu' | 'puff' | 'chikuwa' | 'tteok' | 'sausage';
  url: string;
  textColor?: string;
}

const {
  content,
  shape,
  url,
  textColor = 'base-content',
} = Astro.props;

let normUrl = normalizeUrl(url)
let mainDomain = extractMainDomain(normUrl)

const { cardWidth, cardHeight, gridColSpan, gridRowSpan } = calculateCardDimensions(shape);

---

<div class={`${gridColSpan} ${gridRowSpan}`}>
  <div class={`bd-card text-${textColor}`}>
    {shape === 'sausage'? (
      <div class="card-body">
        <div class="card-actions justify-start flex items-center">
          <img src={`${normUrl}/favicon.ico`} alt="Icon" class="w-8 h-8 rounded-lg">
          <p class="text-gray-600 ml-4">{mainDomain}</p>
        </div>
      </div>
    ) : (
      <div class="card-body">
        <div class="card-actions justify-start">
          <img src={`${normUrl}/favicon.ico`} alt="Icon" class="w-8 h-8 rounded-lg">
        </div>
        <h2 class="card-title">{content}</h2>
        <p class="text-sm text-gray-600">{mainDomain}</p>
      </div>
    )}
  </div>
</div>