---
import { calculateCardDimensions, getBackgroundStyles } from './Card.tsx';
import type { BackgroundType, SocialPlatform, Shape } from './enums.tsx';

// 定义 props
export interface Props {
  platform: SocialPlatform;
  userId: string;
  shape: Shape;
  content?: string;
}

const {
  platform,
  userId,
  shape,
  content,
} = Astro.props;

const { cardWidth, cardHeight, gridColSpan, gridRowSpan } = calculateCardDimensions(shape);

let socialBg = 
{
  'X': {
    'logo': 'X_White.svg',
    'bgColor': 'bg-black',
    'textColor': 'white',
  },
  'Instagram': {
    'logo': 'Instagram_White.svg',
    'bgColor': 'gradient-top-right from-yellow-300 via-pink-600 to-indigo-900',
    'textColor': 'white',
  },
  'Xiaohongshu': {
    'logo': 'Xiaohongshu.png',
    'bgColor': 'bg-[#FF2741]',
    'textColor': 'white',
  }
}

let logo = socialBg[platform]['logo'];

const cardBackgroundClasses = getBackgroundStyles(socialBg[platform].bgColor);

const textColor = socialBg[platform].textColor || 'black';
---

<div class={`${gridColSpan} ${gridRowSpan}`}>
  <div class={`bd-card ${cardBackgroundClasses} text-${textColor}`}>
    <div class="card-body-lg">
      <div class="card-actions justify-start">
        <img src={`/assets/imgs/social/${logo}`} alt="Icon" class="w-8 h-8 rounded-lg">
      </div>
      <h2 class={`card-title text-${textColor}`}>{content}</h2>
      {shape !== '1x4' && <p class={`text-sm text-${textColor}`}>{userId}</p>}
    </div>
  </div>
</div>